:root {
    --clr-darkblue: hsl(233, 47%, 7%);
    --clr-darkdesatblue: hsl(244, 38%, 16%);
    --clr-softviolet: hsl(277, 64%, 61%);
}
  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body {
    height: 100%;
    font-family: "Lexend Deca", sans-serif;
    font-size: 0.95em;
    text-align: center;
    color: #fff;
}
  
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    background-color: var(--clr-darkblue);
}
.container-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.img-desktop {
    display: none;
}
  
.pink {
    background: var(--clr-softviolet);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.35;
    border-radius: 10px 10px 0 0;
}

.container-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-softviolet);
    mix-blend-mode: multiply;
}
  
img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}
  
.main-content {
    padding: 2.4rem 1.2rem;
    display: block;
    background: var(--clr-darkdesatblue);
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
    opacity: 0.9;
}

.main-content h2 {
    margin-bottom: 1em;
    font-size: 1.8rem;
    font-family: "Inter", sans-serif;
}

.main-content h2 > span {
    color: var(--clr-softviolet);   
}
  
.main-content p {
    line-height: 1.8;
    margin-bottom: 2.2em;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Inter", sans-serif;
}
.stadistics {
    margin-top: 3em;
    margin-bottom: -1.5em;
}

.stadistics h4 {
    font-size: 1.6em;
    font-family: "Inter", sans-serif;
}

.stadistics p {
    font-size: 0.8em;
    color: hsla(0, 0%, 100%, 0.6);
}
  
  @media only screen and (min-width: 600px) {
    
    .container {
      flex-direction: row-reverse;
      padding: 11em 11em;
      height: 800px;
      width: 100%;
    }
  
    .main-content {
      width: 50%;
      height: 100%;
      text-align: start;
      padding-left: 5em;
      padding-top: 4em;
      padding-right: 7em;
      border-radius: 10px 0 0 10px;
    }
  
    .container-img {
      width: 50%;
      height: 100%;
    }
  
    .pink {
      border-radius: 0 10px 10px 0;
    }
  
    .img-mobile {
      display: none;
    }
  
    .img-desktop {
      display: flex;
    }
  
    img {
      border-radius: 0 10px 10px 0;
      height: 100%;
    }
  
    .main-content h2 {
      font-size: 2.3em;
      font-weight: 900;
    }
  
    .main-content p {
      font-size: 1em;
      line-height: 1.6;
      padding-bottom: 1.5em;
    }
  
    .stadistics {
      display: flex;
      gap: 4.2em;
    }
  
    .stadistics p {
      font-size: 0.8em;
      letter-spacing: 1px;
    }
  }